body{
    background:rgba(248,248,248);
}

.header{
    display: inline-block;
    background:white;
    box-shadow:0px 3px 6px rgba(0,0,0,0.13);
    border-radius:50px;
    padding: 20px;
    position: fixed;
    top: 30px;
    left: 30px;
}

.main{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    /* background: yellow; */
}


img{
    width: 210px;

}